﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta charset="utf-8" />
    <link href="../lib/ligerUI/skins/Aqua/css/ligerui-all.css" rel="stylesheet" />
    <link href="../lib/ligerUI/skins/ligerui-icons.css" rel="stylesheet" />
    <script src="../lib/jquery/jquery-1.3.2.min.js" type="text/javascript"></script>
    <script src="../lib/ligerUI/js/ligerui.min.js" type="text/javascript"></script>
    <script src="../lib/js/common.js" type="text/javascript"></script>
    <script src="../lib/jquery-validation/jquery.validate.min.js"></script>
    <script src="../lib/jquery-validation/jquery.metadata.js"></script>
    <script src="../lib/jquery-validation/messages_cn.js"></script>
    <!--<script src="../lib/jquery-validation/form_validator_nz.js"></script>-->
    <!--<script src="../lib/jquery-validation/form_validator_nz_01.js"></script>-->
    <script src="../lib/jquery-validation/form_validator_wz.js"></script>
    <!--<script src="../lib/jquery-validation/form_validator_wz_01.js"></script>-->
    <script src="../lib/jquery-validation/form_validator_extend.js"></script>
    <link href="../lib/css/css.css" rel="stylesheet" />
    <script src="../lib/js/jquery.tmpl.min.js"></script>
    <style type="text/css">
        body {
            font-size: 12px;
        }

        .l-table-edit {
        }

        .l-table-edit-td {
            padding: 4px;
        }

        .l-button-submit, .l-button-test {
            width: 80px;
            float: left;
            margin-left: 10px;
            padding-bottom: 2px;
        }

        .l-verify-tip {
            left: 230px;
            top: 120px;
        }
    </style>

</head>
<body>
    <form name="form1" id="form1">
        <div id="model"></div>
        
    </form>
    <script type="text/x-jquery-tmpl" id="modelTmpl">
        <table cellpadding="0" cellspacing="0" class="l-table-edit form_table">
            <tr><th></th><td><input type="hidden" name="ID" value="" /></td><td></td></tr>
            <tr>
                <th>所属角色:</th>
                <td>
                    <select name="RoleId" id="RoleId" ltype="select">
                        <option value="0">请选择</option>
                        {{tmpl($data) '#menuListTmpl'}}
                    </select>
                </td>
            </tr>

            <tr>
                <th>用户名<span>*</span></th>
                <td><input name="UserName" type="text" ltype="text" value="${UserName}" validate="{required:true}" /></td>
                <td align="left"></td>
            </tr>
            <tr>
                <th>密码<span>*</span></th>
                <td><input name="UserPwd" type="text" ltype="text" value="${UserPwd}" validate="{required:true}" /></td>
                <td align="left"></td>
            </tr>
            <tr>
                <th>真实姓名<span>*</span></th>
                <td><input name="RealName" type="text" ltype="text" value="${RealName}" validate="{required:true}" /></td>
                <td align="left"></td>
            </tr>
            <tr>
                <th>手机号码<span>*</span></th>
                <td><input name="Telephone" type="text" ltype="text" value="${Telephone}" validate="{required:true}" /></td>
                <td align="left"></td>
            </tr>
            <tr>
                <th>是否锁定:</th>
                <td>
                    {{if IsLock}}
                    <input type="radio" name="IsLock" value="true" checked="checked" /><label>是</label>
                    <input type="radio" name="IsLock" value="false" /><label>否</label>
            
                    {{else}}
                    <input type="radio" name="IsLock" value="true" /><label>是</label>
                    <input type="radio" name="IsLock" value="false" checked="checked" /><label>否</label>
                    {{/if}}
                </td>
                <td align="left"></td>
            </tr>
            <tr>
                <th>Email:</th>
                <td><input name="Email" type="text" ltype="text" value="${Email}" validate="{required:true}" /></td>
                <td align="left"></td>
            </tr>
        </table>
    </script>

    <script type="text/x-jquery-tmpl" id="menuListTmpl">
        {{each RoleList}}
        <option value="${ID}">${RoleName}</option>
        {{/each}}
    </script>
    <script type="text/javascript">
        var Validator = null;
        $(function () {
            var id = GetUrlParam("id");
            f_get(id);

            $.metadata.setType("attr", "validate");
            deafultValidate($("#form1"));
            $("#form1").ligerForm();
            Validator = $("#form1").validate();
        });

        function f_save() {
            if (!Validator.form()) return;
            var dataParam = $("#form1").serializeArray();//序列化json数组

            $.post("/Manager/Save", dataParam, function (result) {
                var res = JSON.parse(result); //json字符串转json
                if (+res.Code == 0) {
                    //$.ligerDialog.waitting('操作成功'); setTimeout(function () { $.ligerDialog.closeWaitting(); }, 2000);
                    parent.window.f_closeWindow();
                } else {
                    return $.ligerDialog.alert(res.Message);
                }
            });
        }


        function f_get(id) {
            $.post("/Manager/Get", { id: id }, function (result) {
                var res = JSON.parse(result); //json字符串转json
                if (+res.Code == 0) {
                    $('#modelTmpl').tmpl(res.Data).appendTo('#model')
                    $("#RoleId").val(res.Data.RoleId);
                    $("input[name=ID]").val(res.Data.ID);
                } else {
                    //return $.ligerDialog.alert(res.Message);
                }
            });
        }

    </script>

</body>
</html>
