﻿#maingrid{ margin:0 auto;}
#toolbar{margin:2px auto;width:99.6%; background:#F3F8F9;border: 1px solid #B6D3E0; height:30px; line-height:30px;}
#toolbar .l-toolbar-item{ margin-top:4px;}


a{text-decoration:none}
/*edit nav 标题样式===============================================*/
.edit_nav_title{width:98%;margin:auto;height:30px;line-height:30px;color:#2f2e2e;background:url('../ligerUI/skins/icons/communication.gif') no-repeat 2px;text-indent:30px;border-bottom:1px #b1afaf solid;}


/*表格样式=============================================*/
.form_table{ width:100%; border:1px solid #EDECFF; font-family:Verdana, Geneva, sans-serif; }
.form_table th{padding:5px 8px 5px 0;color:#333;font-weight:700;text-align:right;background:#f9f9f9;}
.form_table th span{color:red;}
	.form_table td{padding:6px 0 5px 10px;text-align:left;color:#717171;line-height:200%}
	.form_table label{ margin-left:10px; padding:7px 0 0; font-family:"宋体"; }
	.form_table label.attr{color:#1d1d1d}
	.form_table label input{ margin-right:5px; vertical-align:middle;}
	.form_table span label{ margin:0; padding:0; }
	.form_table textarea{font-size:12px;padding:3px;color:#000;border:1px #d2d2d2 solid;vertical-align:middle; font-family:"微软雅黑";}
	.form_table textarea.small{ width:350px; height:75px;}
	.form_table textarea.big{ width:500px; height:350px;}
	.form_table img.operator{ width:12px; height:12px; margin:0 6px; cursor:pointer; vertical-align:bottom; }




         body{ font-size:12px;}
        .l-table-edit {}
        .l-table-edit-td{ padding:4px;}
        .l-button-submit,.l-button-test{width:80px; float:left; margin-left:10px; padding-bottom:2px;}
        .l-verify-tip{ left:230px; top:120px;}
        #errorLabelContainer{ padding:10px; width:300px; border:1px solid #FF4466; display:none; background:#FFEEEE; color:Red;}.main01{border:1px solid #dadada;background:#fff;}
/*.content{margin:25px;}*/
.pb50 {padding-bottom:50px;}/*分析报表*/
.analysis_tit {height:40px;line-height:40px;border-bottom:1px solid #e6e6e6;padding:5px 10px;position:relative;}
    .analysis_tit h1 {font-size:16px;color:#4c4c4c;float:left;margin:0;line-height:40px;}
    .analysis_tit .location {color:#666666;float:right;}
        .analysis_tit .location a {color:#666666;}
        .analysis_tit .location a:hover,.analysis_tit .location a.on{color:#60b12a;text-decoration:none;}
.analysis_tab {padding:8px 60px 14px 60px;border-bottom:1px solid #e6e6e6;}
    .analysis_tab h2 {height:40px;line-height:40px;font-size:14px;color:#4c4c4c;margin:0;}
.ana_tab a {width:102px;height:30px;display:inline-block;border:1px solid #e6e6e6;margin:0 13px 12px 0;line-height:28px;color:#666666;text-align:center;}
    .ana_tab a:hover, .ana_tab a.on {background:#0074d9;border-color:#0074d9;color:#fff;text-decoration:none;}
.analysis_chart {padding:25px 60px 20px 60px;position:relative;}
    .analysis_chart .chart {width:100%;height:560px;}
.analysis_time {position:absolute;top:25px;right:65px;z-index:9999;}
.analysis_list {padding:0 60px;}
    .analysis_list .title {height:70px;line-height:70px;}
    .analysis_list h2 {font-size:18px;color:#4c4c4c;float:left;margin:0 15px 0 0;line-height:70px;}
    .analysis_list .time {font-size:14px;color:#999999;float:left;}
    .analysis_list .download {float:right;font-size:14px;color:#999999;}
        .analysis_list .download a {color:#0074d9;}
.analysis_table table{width:100%; border:1px solid #cccccc;}
.analysis_table td, .analysis_table th {height:48px;border-right:1px solid #e6e6e6;vertical-align:middle;text-align:center;font-size:14px;color:#666666;}
.analysis_table th {background:#e6e6e6;}
.analysis_table td {border-top:1px solid #e6e6e6;}
.ana_time {float:left;}
    .ana_time a {height:30px;line-height:28px;border:1px solid #d8d8d8;border-right:0 none;color:#808080;display:inline-block;padding:0 13px;}
        .ana_time a:hover {background:#e1e1e1;text-decoration:none;color:#808080;}
        .ana_time a.on {background:#0074d9;border-color:#0074d9;color:#fff;}

.chart {width:100%;height:560px;}